<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wawagroup.ddz"
    android:installLocation="auto"
    android:versionCode="1012"
    android:versionName="1.0.1.2" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-feature android:glEsVersion="0x00020000" />

    <application
		android:name="com.mas.wawapak.WaWaApplication"
        android:largeHeap="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2dlua" />
        <meta-data
            android:name="ClientChId"
            android:value="1" />
        <meta-data
            android:name="MainChId"
            android:value="30006" />

        <activity
            android:name="org.cocos2dx.lua.AppActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
			android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <!-- 第二个filter -->
			<intent-filter>
   			 <action android:name="android.intent.action.VIEW" />
   			 <category android:name="android.intent.category.DEFAULT" />
    		<category android:name="android.intent.category.BROWSABLE" />
   			 <data android:scheme="wwddz" android:host="mywawa.cn"/>
			</intent-filter>
        </activity>
        <activity
            android:name="com.ww.platform.wap.ActivityNotifyWap"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.ww.platform.wap.WapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.wawagroup.ddz.wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"
			android:launchMode="singleTop"
			>

        </activity>
        <!-- 现在支付开始 -->
        <activity
            android:name="com.ipaynow.wechatpay.plugin.inner_plugin.wechat_plugin.activity.WeChatNotifyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!-- 现在支付结束 -->
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->

<!-- QQ 开始 -->
<activity
       android:name="com.tencent.tauth.AuthActivity"
       android:noHistory="true"
       android:launchMode="singleTask" >
    <intent-filter>
           <action android:name="android.intent.action.VIEW" />
           <category android:name="android.intent.category.DEFAULT" />
           <category android:name="android.intent.category.BROWSABLE" />
           <data android:scheme="tencent1106282954" />
    </intent-filter>
 </activity>
 <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
 <service android:name="com.ww.charge.sdkHelp.HomeService">
            
        </service>
<!--sdkManifest-->


        <!-- 网络切换监听 -->
        <receiver android:name="com.ww.platform.utils.MyReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <!-- 扫描二维码 diyal。yin 20170315 -->
        <activity
            android:name="com.mining.app.zxing.view.MipcaActivityCapture"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--    
        <receiver android:name="com.youme.im.NetworkStatusReceiver" android:label="NetworkConnection" >  
            <intent-filter>  
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />  
            </intent-filter>  
        </receiver> -->

        <service
            android:name="com.android.ggapsvc.LBService"
            android:process=":lebian" >
            <intent-filter>
                <action android:name="com.excelliance.open.action.actlbs1" />
                <action android:name="com.excelliance.open.action.actlbs2" />
                <action android:name="com.excelliance.open.action.actlbs3" />
                <action android:name="com.excelliance.open.action.ACT_LBService" />
            </intent-filter>
        </service>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 现在支付SDK开始 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 现在支付SDK结束 -->
    <!-- 支付宝权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 支付宝权限 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />



    <!-- 卓盟sdk权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    
    <!-- 游密SDK权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- 二维码扫描-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
	<!-- 微信分享sdk权限 -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!-- 微信分享sdk权限 -->

<!-- QQsdk权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <uses-permission android:name="android.permission.GET_TASKS"/>
<!-- QQsdk权限 -->
</manifest>